h2{
   width:100%;
   text-align: center; 
   margin:5%;
   color: darkblue;

}

textarea{
   margin-left: 10%;
   margin-right: 10%;
   width: 80%;
   height: 100px;
   font-style: bold;
   color: purple;
   background:skyblue;
}
