.topbar{
    width: 100%;
    margin:2%;
    padding:5px;
    border: 3px solid navy ;
    background-color: paleturquoise

}

.topitems{
    font-weight: bold;
    margin-right: 50px;
    color:darkgreen;
}